html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.6;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #151515;
}

/* nav  */
.navbar {
  border-bottom: 1px solid #76aa6f;
}

.navbar-light .navbar-nav .nav-link {
  color: #151515;
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.navbar ul li a:hover {
  color: #76aa6f !important;
}

/* carousel */
.carousel-item {
  height: 900px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  color: lightslategray !important;
}
.carousel-image-1 {
  background: url("../img/carouse-img-1.jpg");
  background-size: cover;
}

.carousel-image-2 {
  background: url("../img/carouse-img-2.jpg");
  background-size: cover;
}

.carousel-image-3 {
  background: url("../img/carouse-img-3.jpg");
  background-size: cover;
}
/* about */
.msg-main {
  font-family: "Lobster", cursive;
  color: #76aa6f;
}
.msg-main-secondary {
  font-size: 50px;
  color: #151515;
  font-weight: bold;
}
#founder-name {
  font-weight: bold;
  font-family: "Lobster", cursive;
}
/* our products */
#recent-product-title {
  color: #76aa6f;
  font-weight: bold;
  font-family: "Lobster", cursive;
}
.product-price {
  color: #76aa6f;
  font-weight: bold;
  font-size: 20px;
}
.cart-btn {
  font-size: 25px;
  font-weight: bold;
  color: #76aa6f;
}
.cart-btn:hover {
  color: #e9da5d;
}
.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-image {
  width: 100%;
  height: 300px;
}

img {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.fadeIn-bottom {
  top: 80%;
}
.content-text {
  color: #76aa6f;
  font-size: 30px;
}
.fa-cart-plus {
  color: #e9da5d;
}
.fa-cart-plus:hover {
  color: #76aa6f;
}
