html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.6;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #151515;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
* {
  box-sizing: border-box;
}

/* nav  */
.navbar {
  border-bottom: 1px solid #76aa6f;
}

.navbar-light .navbar-nav .nav-link {
  color: #151515;
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.navbar ul li a:hover {
  color: #76aa6f !important;
}

/* carousel */
.carousel-item {
  height: 900px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  color: lightslategray !important;
}
.carousel-image-1 {
  background: url("../img/carouse-img-1.jpg");
  background-size: cover;
}

.carousel-image-2 {
  background: url("../img/carouse-img-2.jpg");
  background-size: cover;
}

.carousel-image-3 {
  background: url("../img/carouse-img-3.jpg");
  background-size: cover;
}
/* about */
.msg-main {
  font-family: "Lobster", cursive;
  color: #76aa6f;
}
.msg-main-secondary {
  font-size: 50px;
  color: #151515;
  font-weight: bold;
}
#founder-name {
  font-weight: bold;
  font-family: "Lobster", cursive;
}
/* our products */
#recent-product-title {
  color: #76aa6f;
  font-weight: bold;
  font-family: "Lobster", cursive;
}
.product-price {
  color: #76aa6f;
  font-weight: bold;
  font-size: 20px;
}
.cart-btn {
  font-size: 25px;
  font-weight: bold;
  color: #76aa6f;
}
.cart-btn:hover {
  color: #e9da5d;
}
.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-image {
  width: 100%;
  height: 300px;
}

img {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.fadeIn-bottom {
  top: 80%;
}
.content-text {
  color: #76aa6f;
  font-size: 30px;
}
.fa-cart-plus {
  color: #e9da5d;
}
.fa-cart-plus:hover {
  color: #76aa6f;
}
/* client-testomonial  */
#client {
  /* background: url("../img/client-bg-3.jpg"); */
  min-height: 700px;
  background-size: cover;
  width: 100%;
}
#client-testomonial-title-main {
  font-family: "Lobster", cursive;
  color: #76aa6f;
  font-size: 35px;
}
#client-testomonial-title-secondary {
  font-size: 50px;
  color: #151515;
  font-weight: bold;
}
/* slider */
.wrap {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100%;
  padding: 0 60px;
  background: url('../img/client-bg-5.jpg') center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

.wrap:after {
  content:'';
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
}

.slider {
  position: relative;
  z-index: 200;
  padding: 0 0px;
  margin: 5rem auto;
  max-width: 800px;
  width: 100%;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 50px;
  line-height: 50px;
  margin-top: -25px;
  border: none;
  background: transparent;
  color: #fff;
  font-family: monospace;
  font-size: 5rem;
  z-index: 300;
  outline: none;
}

.slick-prev {
  left: -50px;
  text-align: left;
}

.slick-next {
  right: -50px;
  text-align: right;
}



.item.slick-slide {
  width: 400px;
  height: 400px !important;
  transition: transform .4s;
  position: relative; 
}

.slick-slide:after {
  content:'';
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  transition: transform .4s;
}

.item.slick-slide {
  transform: scale(0.7)  translate(640px);
}

.item.slick-slide.slick-center + .slick-slide {
  transform: scale(0.8) translate(-250px);
  z-index: 10;
}

.item.slick-slide.slick-center + .slick-slide + .item.slick-slide {
  transform: scale(0.7)  translate(-640px);
  z-index: 5;
}

.item.slick-slide.slick-active {
  transform: scale(0.8) translate(250px);
}

.item.slick-slide.slick-center {
  /* margin: 0 -10%; */
  transform: scale(1);
  z-index: 30;
}

.slick-center:after {
  opacity: 0;
}
